
@{
    ViewBag.Title = "About";
}

<h2>About me</h2>
@*<br />*@
<h5>A little description of me.</h5>

<div class=" row">
    <div class="col-md-4">

        <h2>Bio</h2>
        <br />
        <p>My name is Pratham Patel. I was born and raised in heart of northern Limpopo, in a town called Louis Trichardt. My hobbies are video-editing and a deep passion for soccer and cricket. I spent my high school years at Ridgeway College. In my final year of high school, I was part of a community service initiative committee and was also elected as peer supporter. </p>
        <p>I am currently a second-year student at the University of Pretoria studying BCom Informatics. I am positive about my future and eager to expand my skills and personal development as a student.</p>
    </div>

    <div class="col-md-4">
        <h2>A pic of me...</h2>
        <img src="~/images/Pratham-Patel.jpg" alt="student">

    </div>
</div>