@{
    ViewBag.Title = "Document";
}
<h2>Document</h2>

<table class="table">

    <tr>
        @* Table header *@
        <th>File Name</th>
        <th>Download</th>
        <th>Delete</th>
    </tr>

    @foreach (var fileInput in Model)
    {
        //@Html.ActionLink("link text", "someaction", "somecontroller", new { id = "123" }, null)
        // Download/FileController/ Screenshot
        // generate an <a href="">
        //@Url.Action("someaction", "somecontroller", new { id = "123" })
        <tr>
            <td>@fileInput.FileName</td>
            <td>
                <input type="button" class="btn btn-success" value="Download"
                       onclick="location.href='@Url.Action("Download", "Document", new { fileName = fileInput.FileName})'" />
            </td>
            <td>
                <input type="button" class="btn btn-danger" value="Delete"
                       onclick="location.href='@Url.Action("Delete", "Document", new { fileName = fileInput.FileName})'" />
            </td>

        </tr>
    }
</table>
